
@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-lg-7 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-12">
        <h2>Error!</h2>
        Sorry, something went wrong...
        Try later.
    </div>
</div>
